@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

button,
a {
    transition: all .3s ease-in-out;
}

body::before {
    display: block;
    content: '';
    position: absolute;
    background: #D12229;
    top: 0;
    bottom: 0;
    width: 1px;
    left: 1rem;
    pointer-events: none;
    z-index: 10;
}

body::after {
    display: block;
    content: '';
    position: absolute;
    background: #D12229;
    top: 0;
    bottom: 0;
    width: 1px;
    right: 1rem;
    pointer-events: none;
    z-index: 1;
}

@media (max-width: 520px) {
    body::after {
        right: .4rem;
    }

    body::before {
        left: .4rem;
    }
}

@media (max-width: 768px) {
    .app-header {
        position: fixed;
        top: 0;
        background: #1a151c;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }

    .app-nav {
        padding: 4rem 5% 8rem 5%;
        position: absolute;
        top: 60px;
        bottom: 0;
        background: #1a151c;
        height: 100vh;
        width: clamp(200px, 100%, 300px);
        overflow-y: auto;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        left: -100%;
        transition: all .3s ease-in-out;
        opacity: 0;
        pointer-events: none;
        will-change: left, opacity, pointer-events;
    }

    .active-menu {
        left: 0;
        opacity: 1;
        pointer-events: all;
    }
}

.home-hero-video {
    width: 100% !important;
    height: 100% !important;
}