@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

button,
a {
    transition: all .3s ease-in-out;
}

body::before {
    display: block;
    content: '';
    position: absolute;
    background: #D12229;
    top: 0;
    bottom: 0;
    width: 1px;
    left: 1rem;
    pointer-events: none;
    z-index: 10;
}

body::after {
    display: block;
    content: '';
    position: absolute;
    background: #D12229;
    top: 0;
    bottom: 0;
    width: 1px;
    right: 1rem;
    pointer-events: none;
    z-index: 1;
}

@media (max-width: 520px) {
    body::after {
        right: .4rem;
    }

    body::before {
        left: .4rem;
    }
}